svg{
    color: #F6F6F6;
    display: block;
}

a:hover{
    text-decoration: underline;
}

.btn, .small-btn{
    transition: all 200ms ease;
}

.btn:hover, .small-btn:hover{
    text-decoration: none;
    box-shadow: 0 0.3rem 1rem rgba(0,0,0,0.3);
}

.btn:active, .small-btn:active{
    opacity: 75%;
    transform: scale(90%);
}

.primary:hover{
    color: #3161e0;
}

.secondary:hover{
    background-color: #23272A;
}

.tertiary:hover{
    background-color: #b3c3fc;
}