@font-face{
    font-family: 'Whitney';
    src: url(../fonts/whitneylight.otf) format('opentype');
    font-weight: 200;
}

@font-face{
    font-family: 'Whitney';
    src: url(../fonts/whitneybook.otf) format('opentype');
    font-weight: 400;
}

@font-face{
    font-family: 'Whitney';
    src: url(../fonts/whitneymedium.otf) format('opentype');
    font-weight: 500;
}


@font-face{
    font-family: 'Whitney';
    src: url(../fonts/whitneysemibold.otf) format('opentype');
    font-weight: 600;
}

@font-face{
    font-family: 'Whitney';
    src: url(../fonts/whitneybold.otf) format('opentype');
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basis */

html{
    font-family: 'Whitney', 'Cabin', sans-serif;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: white;
    display: inline-block;
}

ul, ol{
    list-style: none;
}

p{
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;
    padding: 1rem 0;
}

h1{
    font-size: 3em;
    font-weight: 600;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.6rem;
}

h5{
    font-size: 0.8rem;
}

:root{
    --bordo: 1px dashed black;
}

.container{
    max-width: 960px;
    margin: auto;
}

.btn{
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.7rem 1.4rem;
    font-weight: 500;
}

.btn i{
    font-size: 0.8rem;
    margin: 0 0.5rem 0 0;
}

.small-btn{
    border-radius: 1rem;
    font-size: 0.8rem;
    padding: 0.3rem 0.6rem;
    font-weight: 500;
}

.primary{
    background-color: white;
    color: black;
}

.secondary{
    background-color: black;
}

.tertiary{
    background-color: #8FA1E1;
}

.gap{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

/* Head */

.logo{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header{
    padding: 10px 0;
    background-color: #3161e0;
}

.menu{
    flex-grow: 1;
    display: flex;
    gap: 2rem;
    justify-content: center;
    font-size: 0.8rem;
}

/* Main */

.hero{
    background-color: #3161e0;
    padding: 40px 0;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

.title{
    max-width: 600px;
    min-height: 320px;
    margin: auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

/* Sections */

.section{
    display: flex;
    min-height: 400px;
    justify-content: space-between;
    padding: 2rem 0;
}

.bg-white{
    background-color: white;
}

.bg-grey{
    background-color: #F6F6F6;
}

.left{
    flex-direction: row-reverse;
}

.images{
    width: 60%;
}

.col{
    padding: 5rem;
}

.call{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
}

.call > *{
    margin: auto;
}

#button-title{
    padding: 2rem 3rem;
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.section-title{
    padding: 0 5rem;
}

/* Footer */

footer{
    background-color: #23272A;
    padding: 4rem 0;
    color: white;
}

footer h3, footer h5{
    color: #7289DA;
}

.f-top{
    display: flex;
    padding-bottom: 30px;
}

.foothead{
    min-width: 30%;
    padding-right: 3rem;
}

.languages{
    display: flex;
    padding: 1rem 0;
    gap: 0.5rem;
    align-items: center;
}

.languages img{
    max-height: 1rem;
}

.footlinks{
    display: flex;
    flex-grow: 1;
    font-size: 0.8rem;
}

.list{
    flex-grow: 1;
}

hr{
    color:#68696B;
}

.f-down{
    margin-top: 20px;
    padding: 20px 0;
    background-color: #7FFFD4;
}

button{
    border-radius: none;
    border: var(--bordo);
    padding: 5px;
    background-color: #ffb6c1;
}